
:root {
    --white: white;
    --buttonRadius: 15px;
    --backgroundColor: rgb(53, 53, 53);
}

.main {
    background-color: rgb(53, 53, 53);
    margin: auto;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(12, 1fr);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#home-title {
    grid-area: 3 / 1 / 5 / 13;
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    align-self: center;
    text-align: center;
    color: var(--white);
}

#button-1 {
    grid-area: 6 / 3 / 7 / 5;
    border: solid;
    border-color: var(--white);
    background-color: var(--backgroundColor);    
    border-radius: var(--buttonRadius);
    color: var(--white);
    transition: .5s;
    text-decoration: none;
    text-align: center;
    line-height: 70px;
    height: 70px;
}

#button-1:hover {
    background-color: white;
    color: var(--backgroundColor);
}

#button-2 {
    grid-area: 6 / 6 / 7 / 8;
    border: solid;
    border-color: var(--white);
    background-color: var(--backgroundColor);
    border-radius: var(--buttonRadius);
    color: var(--white);
    transition: .5s;
    text-decoration: none;
    text-align: center;
    line-height: 70px;
    height: 70px;
}

#button-2:hover {
    background-color: white;
    color: var(--backgroundColor);
}

#button-3 {
    grid-area: 6 / 9 / 7 / 11;
    border: solid;
    border-color: var(--white);
    background-color: var(--backgroundColor);
    border-radius: var(--buttonRadius);
    color: var(--white);
    transition: .5s;
    text-decoration: none;
    text-align: center;
    line-height: 70px;
    height: 70px;
}

#button-3:hover {
    background-color: white;
    color: var(--backgroundColor);
}

.button-text {
    text-decoration: none;
}